<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="chotuEntities" connectionString="metadata=res://*/CustomerModel.csdl|res://*/CustomerModel.ssdl|res://*/CustomerModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=LAPTOP-EQ0VCIA9\SQLEXPRESS;initial catalog=chotu;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>